body {
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
    margin: 10%;
    font-size: 20px;
    /* background-color: lightblue; */
}

.logout-button {
    position: absolute;
    right: 30px;
    top: 30px;
}

.dragon-avatar-image-wrapper {
    display: flex; /* designed for layering */ 
    align-items: center;
    justify-content: center;
}

.dragon-avatar-image-pattern {
    position: absolute;
}

.dragon-avatar-image-background {
    position: absolute;
}

.dragon-avatar-image {
    z-index: 0;
}
